# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Environment
.env
.env.*

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
